{% extends 'base.html' %}
{%block contenidohj%}
<h1>LISTADO DE PRODUCTOS </h1>

<div class="form-group">

<a class="btn btn-outline-primary" href="{% url 'productoguardar'  %}" role="button">Nuevo</a>
<a class="btn btn-outline-secondary" href="{% url 'productopdf' %}" role="button">Imprimir</a>

</div>


    <TABLE  class="table table-bordered border-primary">
	<TR>
		<TH>Id</TH>
		<TH>Grupo</TH>
		<TH>Producto</TH>
		<TH>Precio Vta</TH>
		<TH>Código</TH>
 		<TH>Existencia</TH>
		<TH>Activo / Anulado</TH>
<TH></TH>
		<TH></TH>
	</TR>
		{% for presenta in object_list %}
	<TR>

		<TD>{{ presenta.id }}</TD>
		<TD>{{ presenta.productogrupo.gruponombre}}</TD>
		<TD>{{ presenta.productonombre}}</TD>
        <TD>{{ presenta.productopreciovta}}</TD>
        <TD>{{ presenta.productocodigo}}</TD>
        <TD>{{ presenta.productoexistencia}}</TD>

        <TD><center>{{ presenta.productoanulado}}</center></TD>

		<td><a href="{% url 'productomodificar' presenta.id  %}" button type="button" class="btn btn-outline-success">Modificar</a></td>
		<td><a href="{% url 'productoimprimir' presenta.id  %}" button type="button" class="btn btn-outline-secondary">Imprimir</a></td>

	</TR>
     {% endfor %}


</TABLE>


{% endblock %}